h1 {
    color: red;
}

button {
    color: purple;
    background-color: orange;
}

label {
    color: aqua;
}

input {
    color: bisque;
}

button:hover {
    background-color: red;
}

#signup{
    color: black;
    background-color: lightblue;
}

.tag {
    color: black;
    background-color: red;
    font-size: 10px;
    font-weight: 500;
}